.layout {
  min-height: 100vh;
}

.header {
  color: #fff;
}

.content {
  padding: 24px 50px;
}

.footer {
  text-align: center;
  color: #666;
}

.formItem {
  padding: 24px;
  margin-bottom: 0;
}

.spinner{
  padding: 24px;
  margin: 0 auto;
}
