.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
}

.logo {
  max-width: 7rem;
}

.title {
  margin: 0;
  text-align: center;
}
