$color-string: #f0650e;
$color-number: #4312e6;
$color-boolean: #e61259;
$color-null: #e61259;

.line {
  margin-bottom: 0;
  font-family: monospace;
  word-break: break-all;
  white-space: pre-wrap;
  position: relative;
}

.string {
  color: $color-string;
}

.number {
  color: $color-number;
}

.boolean {
  color: $color-boolean;
}

.null {
  color: $color-null;
}

.oldLine {
  background: #ffd3d3;
}

.oldLine::before {
  content: "-";
  color: red;
}

.newLine {
  background: #daffc7;
}

.newLine::before {
  content: "+";
  color: green;
}


.line::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
